@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root, :root[data-theme="dark"]{
    --primary-color: #f0f0f0;

    --primary-bg-color:#111217;

    --secondary-bg-color:#28292E;

    --primary-border-color:#28292E;

    --secondary-border-color:#56575A;

    --title-color:#f0f0f0;

    --text-color:#9A9A9C;

    --link-color:#9a9a9c;

    --icon-color:#C7C8C9;
}

:root[data-theme="light"]{
    --primary-color: #0b0b0f;

    --primary-bg-color:#E9E9E9;

    --secondary-bg-color:#C7C8C9;

    --primary-border-color:#C7C8C9;

    --secondary-border-color:#56575A;

    --title-color:#0b0b0f;

    --text-color:#28292E;

    --link-color:#28292E;

    --icon-color:#56575A;
}

html[data-theme="light"] .brand_logo{
    filter: invert(1);
}

body{
    background: var(--primary-bg-color) !important;
    font-family: "Times New Roman", serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 200;
}

h2{
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0.4rem;
}

h3{
    font-size: 1.55rem;
    text-align: left;
}

h4{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
}

h1,h2,h3{
    font-family: 'League Spartan', Courier, monospace;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}

p, span, li{
    font-size: 1rem;
}

p{
    text-align: justify;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: var(--primary-color);
    font-weight: 600;
}

i{
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    z-index: 2;
}

.header_toggle{
    display: flex;
    justify-content: flex-end;
}

.header_brand .brand_logo{
    height: 3.25rem;
    width: 3.25rem;   
}

#toggle_theme{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu_mobile{
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
    border: 1px solid var(--primary-border-color);
}

.menu_mobile .menu_link{
    flex-direction: column;
    justify-content: center;
    gap: .5rem 1rem;
}

.menu_icon{
    font-size: 1.5rem;
}

.menu_text{
    font-size: .75rem;
    text-transform: uppercase;
}

.menu_icon, .menu_text{
    color: var(--text-color);
}

.menu_link.active .menu_icon,
.menu_link.active .menu_text,
.menu_link:hover .menu_icon,
.menu_link:hover .menu_text{
    color: var(--primary-color);
    font-weight: 600;
}

.menu_social{
    gap: 1rem;
    padding: 1rem;
}

.header_nav{
    display: none;
}

.menu_principal{
    gap: 1rem;
}

main, .projetos{
    padding: 2.5rem 1rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main_content1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main, .projetos, .sobre, .contato{
    padding: 2.5rem 1rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    padding: 0.875rem 1.5rem;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-color);
}

.button:hover{
    transform: scale(1.1);
    transition: ease-in-out .3s;
}

.button span, .button i{
    font-size: 1.25rem;
    text-transform: uppercase;
}

.button_primary span{
    color: var(--primary-color);
}

.button_primary{
    border: 1px solid var(--primary-color);

}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 1rem 2rem;
    gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;
}

.habilidades h2{
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    text-align: start;
}

.arvore_habilidades{
    display: flex;
    flex-direction: row wrap;
    gap: .5rem;
}

.habilidade_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius:  50rem;
}

.logo_habilidade{
    height: 2.4rem;
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos_container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projetos_cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card_cover{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}

.card_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card_title{
    font-size: 1.5rem;
}

.card_desc{
    color: var(--title-color);
}

.card_list{
    margin-left: 1.25rem;
}

.card_buttons, .desc_buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card_buttons .button{
    padding: .65rem 1.25rem;
}

.card_body, .arvore_habilidades{
    gap: .75rem;
}

.card_body, .logo_habilidade{
    height: 2rem;
}

footer{
    margin-bottom: 5rem;
}

footer p{
    font-size: .875rem;
    text-align: center;
    color: var(--text-color);
    padding: 1rem;
}
@media(min-width: 768px){
    .nav_mobile{
        display: none;
    }
    .header{
        padding: 1rem 4rem;
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        background: var(--primary-bg-color);
    }
    .menu_mobile{
        display: none;
    }
    .header_nav{
        display: flex;
    }
    .header_nav,
    .header_toggle{
        min-width: 40%;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem ;
        letter-spacing: 0.4rem;
    }

    main, .projetos{
        padding: 8rem 6rem 4rem 6rem;
    }

    .main_content1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 8rem 6rem 4rem 6rem;
        gap: 2rem;
        align-items: center;
    }

    .habilidades{
        padding: 6.25rem 6rem 2rem 6rem;
        margin-top: -6rem;

    }

    .projetos_cards{
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    footer{
        margin: 0;
    }
}

@media(min-width: 992px){
    .projetos_cards{
        flex-direction: row;
    }
    .projetos_cards.card_reverse{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card_cover{
        width: 55%;
    }
}

@media(min-width: 1200px){
    main{
        padding: 12rem 6rem 2rem;
    }
    .main_content1 .button{
        width: auto;
    }

    .habilidades{
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }

    h2{
        font-size: 4rem ;
    }

    .habilidades h2{
        font-size: 3.5rem;
        width: 60%;
    }

    .arvore_habilidades{
        gap: 1rem;
    }

    .habilidade_item{
        width: 6rem;
        height: 6rem;
    }

    .logo_habilidade{
        height: 3rem;
    }
    .projetos_cards{
        flex-direction: row;
    }

    .card_cover{
        width: 50%;
    }

    .card_title{
        font-size: 3.25rem;
    }

    .card_desc, .item_card{
        font-size: 1.25rem;
    }

    .card_buttons .button{
        width: auto;
    }
}

@media(min-width: 1400px){
    h1{
        font-size: 6.25rem;
    }

    h2{
        font-size: 5rem ;
    }

    p{
        font-size: 1.5rem;
    }
    
    .header{
        padding: 1rem 15rem;
    }

    main{
        padding: 12rem 15rem 2rem;
    }

    .habilidades{
        padding: 10rem 15rem 4rem;
    }
}